.navbar-nav {
    margin: auto;
  }
  
  .navbar-nav .nav-item {
    min-width: 200px;
    text-align: center;
  }
  
  @media only screen and (min-width: 552px) {
    nav {
      min-width: 340px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .navbar-brand {
      display: none !important;
    }
  }
  